# Build results
bin/
obj/

# Rider & VS Code
.idea/
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Copilot / AI temp files
*.db
**/CopilotIndices/

# NuGet packages
*.nupkg
packages/

# Test results
TestResults/

# Publish
*.publish/

# Others
*.swp
*.bak